* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
}

header {
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p,
a {
  font-size: 1.4em;
}

li,
a {
  color: black;
  text-decoration: none;
  padding: 0.5em;
}
ul {
  list-style-type: none;
  display: flex;
}

.background {
  background-image: url("https://images.unsplash.com/photo-1488972685288-c3fd157d7c7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px -9px 21px 7px rgba(0, 0, 0, 0.41);
}

.center-me {
  color: white;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  font-weight: 800;
}

.kubelis {
  background-color: rgba(0, 0, 0, 0.504);
  margin: 0.2em;
  padding: 0.5em;
}

.main-logo {
  font-weight: bold;
  font-size: 1.2em;
  padding-right: 0.4em;
}
/* Projektu langas */
.projektai {
  padding-top: 5em;
  min-height: 50vh;
}

.projektai h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
  padding-bottom: 1em;
  width: 100%;
}
